header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.blogPost {
    /* background-color: #fff;
    color: #333; */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px;
}

#content {
    margin-top: 20px;
}

footer {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}
